<nav class="navbar">
  <div class="navbar-container">
    <div class="logo">
      <a routerLink="/">
        <img src="favicon.png" alt="DUUN" class="logo-img">
      </a>
    </div>
    
    <ul class="nav-links">
      <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
      <li><a routerLink="/about" routerLinkActive="active">Nosotros</a></li>
      <li><a routerLink="/music" routerLinkActive="active">Sets</a></li>
      <li><a routerLink="/shows" routerLinkActive="active">Eventos</a></li>
      <li><a routerLink="/contact" routerLinkActive="active">Contacto</a></li>
    </ul>
  </div>
</nav>

  